<div class="main-content">
  <% if @post.images.first %>
    <%= image_tag @post.images.first.file.url(:wide), class: 'post-image' %>
  <% end %>

  <ul id="categories">
    <% if @post.neighborhood %>
      <li><%= link_to @post.neighborhood['name'], @post.neighborhood %></li>
    <% end %>

    <% if @post.topic %>
      <li><%= link_to @post.community['name'], @post.community %></li>
    <% end %>
  </ul>

  <h1 class="post-title">
    <%= @post.title %>
  </h1>

  <div class="post-content">
    <%= markdown(@post.content) %>
  </div>
</div>

<div class="sidebar">
  <%= render "shared/communities_small_list" %>
  <%= render "shared/neighborhoods_small_list" %>
</div>