<%= form_for(@neighborhood) do |f| %>
  <div class="admin-toolbar">
    <h1 class="admin-title">Editing Neighborhood</h1>

    <ul class="admin-toolbar-buttons">
      <li class="edit-map-button"><a href="#">Hide map</a></li>
      <li><%= f.submit :class => 'button' %></li>
    </ul>
  </div>

  <div class="map-field">
    <%= f.text_area :geometry %>
    <div id="map" style="width:100%; height:300px;"></div>
  </div>

  <% if @neighborhood.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@neighborhood.errors.count, "error") %> prohibited this neighborhood from being saved:</h2>

      <ul>
      <% @neighborhood.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name, class: 'title-input', placeholder: 'Neighborhood name' %>
  </div>
  
  <div class="field">
    <%= f.text_area :description, class: "content-input", placeholder: 'Describe the neighborhood (using markdown)' %>
  </div>
<% end %>
