<div class="topic-header row">
  <h1 class="topic-title"><%= @neighborhood.name %></h1>

  <ul class="topic-toolbar">
    <!--<li class="active"><a href="#info">Info</a></li>-->
    <li><a href="#recent-posts">Posts</a></li>
    <!--<li><a href="#">Discuss</a></li>-->
    <% if can? :manage, @neighborhood %>
    <li><%= link_to 'Settings', edit_neighborhood_path(@neighborhood) %></li>
    <% end %>
  </ul>
  <%= link_to 'Neighborhoods', neighborhoods_path, class: 'parent-page' %>
</div>

<section id="topic-description">
  <div id="map-display"></div>
  <p><%= markdown(@neighborhood.description) %></p>
</section>
<hr>

<!--
<section id="info">
  <h1>Info about <%= @neighborhood.name %>:</h1>
  <ul>
    <li>SeattleWiki & Wikipedia</li>
    <li>Yelp & UrbanSpoon</li>
    <li>Local blogs</li>
  </ul>
</section>
-->

<section id="external-resources">
  <!--
  <h1>Explore <%= @neighborhood.name %> on other resources:</h1>
  <ul>
    <li>SeattleWiki & Wikipedia</li>
    <li>Yelp & UrbanSpoon</li>
    <li>Local blogs</li>
  </ul>
  -->

  <h1>Explore <%= @neighborhood.name %> on the Seattle LocalWiki:</h1>
  <% if @localwiki_pages.length > 0 %>
    <ul class="group localwiki-pages">
      <% @localwiki_pages.each do |lw| %>
        <li class="group-item page">
          <h3><a href="http://localwiki.net/seattle/<%= lw.name %>" target="_blank"><%= lw.name %></a></h3>
        </li>
      <% end %>
    </ul>
  <% else %>
      <h2 style="text-align:center;"><a href="http://localwiki.net/seattle/<%= @neighborhood.name %>" target="_blank">Make a page on the Seattle LocalWiki for <%= @neighborhood.name %></a>!</h2>
  <% end %>
</section>

<% if @neighborhood.posts.size > 0 %>
<section id="recent-posts" class="group">
  <h1>Recent posts about <%= @neighborhood.name %>:</h1>
  <% @neighborhood.posts.each do |post| %>
    <div class="post group-item">
      <h2><%= link_to post.title, post %></h2>
      <p><%= teaser(post.content) %></p>
    </div>
  <% end %>
  </div>
</section>
<% end %>

<!-- pass neighborhood geometry to javascript -->

<%= javascript_tag do %>
  window.neighborhoodGeom = <%= raw @neighborhood.geometry.to_json %>
<% end %>
