<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | seattle.io</title>
  <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic|Open+Sans:400,300,800' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= @body_class %>">

<header>
  <div class="container">
    <nav id="header-nav">
      <h1 class="site-title">
        <%= link_to 'seattle.io', root_path %>
      </h1>

      <ul class="nav">
        <li><%= link_to 'posts', posts_path %></li>
        <li><%= link_to 'neighborhoods', neighborhoods_path %></li>
        <li><%= link_to 'communities', communities_path %></li>
        <!--<li><a href="#">store</a></li>-->
        <li><%= link_to 'about', page_path('about') %></li>
        <% if user_signed_in? %>
        <!--<li><a href="#">account</a></li>-->
        <% if current_user && current_user.admin? %>
        <li><%= link_to 'admin', rails_admin_path %></li>
        <li><%= link_to('log out', destroy_user_session_path, :method => :delete) %></li>
        <% end %>
        <% else %>
        <li><%= link_to "sign in", new_user_session_path %></li>
        <li><%= link_to "create account", new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<main role="main">
  <div class="container">
    <div id="flash_messages">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, :class => "flash #{key}") %>
      <% end %>
    </div>

    <%= yield %>
  </div>
</main>

<footer>
  <div class="container">
    <h1>Hi buds! This is an early preview of seattle.io!</h1>
    <p>We're starting with just a few pilot neighborhoods and topics. Soon we'll expand to cover more of Seattle.</p>
    <ul id="hello-footer">
      <li>
        <h3>Pilot neighborhoods</h3>
        <p><a href="/neighborhoods/pioneer-square">Pioneer Square</a> and <a href="/neighborhoods/university-district">University District</a> are the first neighborhoods we're including in the guide to Seattle's neighborhoods. More coming soon! Want to help get your neighborhood included? <a href="mailto:hi@seattle.io">Let us know!</a></p>
      </li>
      <li>
        <h3>Pilot topics</h3>
        <p>The first topics we're covering at seattle.io are <a href="/topics/civic-technology">civic technology</a> & <a href="/topics/games">locally-made games</a>! We'll be producing a series of short books called <i>Play Local</i> featuring interviews, how-to articles, and other stories about games and game designers in Seattle.</p>
      </li>
      <li>
        <h3>Get involved</h3>
        <p>Want to get involved in seattle.io as a volunteer or paid contributor? <a href="http://eepurl.com/Da5HH">Join our email newsletter</a> to find out about opportunities. You can also join our <a href="http://www.meetup.com/seattle-io/">Meetup group</a> to find out about upcoming events.</p>
      </li>
    </ul>

  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-43023400-1', 'seattle.io');
  ga('send', 'pageview');
</script>
</body>
</html>
